*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑"
}

li{
	list-style-type: none;
}



.line{
	margin: 5px 0;
	border-bottom: 1px solid #fff;
}

.clearfix::after{
	clear: both;
	content: "";
	display: block;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.text-hidden{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.header{
	background:url(../images/bg2.jpg) no-repeat center center;
	height: 400px;
	margin: 0 auto;
	background-size: 100% 400px;
	position: relative;
}

.header-top{
	background-color: rgba(32,33,37,0.5);
}

.header-login{
	padding-left: 20px;
	height: 40px;	
	color: #fff;
}

.header-login form{
	padding:5px 5px; 
	display: inline-block;
}

.header-login input{
	height: 28px;
	color: #000;
	padding-left: 5px;
	border: 0;
}

.header-login button{
	height: 28px;
	background: transparent;
	color: #fff;
	margin: 2px;
	width: 50px;
	border: 0;
}

.header-login a:link,a:visited {
	text-decoration: none;
	color: #293e99;
}

.header-login a:hover {
	text-decoration: none;
	color: #CE002B;
}

.header-login button:hover{
	background: #CE0000;
}

.header-login .search{
	float: right;
	margin-right: 100px;
}

.header-text{
	white-space: nowrap;
	height: 200px;
	line-height: 400px;
	font-weight: 700;
	font-size: 46px;
	width: 50%;
	margin: 0 auto;
	/*position: absolute;*/
	text-shadow: 0px 0px 2px #000;
	text-align: center;
}
.container{
	/*height: 30000px;*/
	width: 1100px;
	margin: 0 auto;
	/*background-color: pink;*/
	overflow: hidden;
}
.nav{
	background: #CE0000;
	height: 40px;
	margin: 3px auto 0 auto;
	padding: 2px;
}

.nav  a:link,.nav a:visited{
	display: inline-block;
	width: 112px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	margin: 0 auto;
	transition: all 0.5s;
}

.nav > li{
	float: left;
	padding-top: 2px;
}

.nav > li:hover{
	
}

.nav > li > a:hover{
	color: #CE0000;
	background:#fff;
}

.nav > li > ul{
	background: #fff;
	box-shadow: 0 0 5px 0px #000;
	z-index: 1000;
	display: none;
	position: absolute;
	/*animation: show_menu 0.2s;*/
}

@-webkit-keyframes show_menu{
	from{opacity: 0;}
	to{opacity: 1;}
}

.nav > li > ul > li{
	border-bottom: 1px solid #cdcdcd;
}

.nav > li > ul > li > a:link,
.nav > li > ul > li > a:visited{
	color: #CE0000!important;
}

.nav > li > ul > li > a:hover{
	background-color: #CE0000;
	color: #fff!important;
}

.banner{
	/*height: 390px;*/
	width: 700px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}
.banner-text{
	margin: 10px auto;
	overflow: hidden;
	height: 26px;
}
.banner-text a:link,
.banner-text a:visited,
.banner-text a:hover{
	color: #CE0000;
	text-decoration: none;
	display: block;
	height: 26px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.banner-slide-img{
	height: 520px;
	/*overflow: hidden;*/
	position: relative;	
}
.overlap{
	position: absolute;
	width: 700px;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 2s;
	display: block;
	
}

.banner-slide-img-1{
	z-index: 2;
	background-image: url(../images/banner1.jpg);
}
.banner-slide-img-2{
	z-index: 1;
	background-image: url(../images/banner2.jpg);
}
.banner-slide-img-3{
	z-index: 0;
	background-image: url(../images/banner3.jpg);
}
.pre-img{
	width: 25px;
	height: 57px;
	left: 0px;
	top: 50%;
	margin-top: -8px;
	transform:rotate(180deg);
	opacity: 0.3;
	position: absolute;
	background:#333 url(../images/arrow.png) no-repeat center center;
	cursor: pointer;
	z-index: 10;
}

.next-img{
	width: 25px;
	height: 57px;
	background:#333 url(../images/arrow.png) no-repeat center center;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -8px;
	opacity: 0.3;
	cursor: pointer;
	z-index: 10;
}
.banner-footer{
	height: 25px;
	background: #CE0000;
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 25px;
}
.dots{
	width: 70px;
	position: absolute;
	right: 0;
	bottom: 7px;
}
.dots a{
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right:8px;
	background-color: rgba(7, 17, 27, 0.4);
	float: left;
	border-radius: 50%;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
	transition: all 1s;
}

.banner-footer-title{
	width: 580px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	
}

.banner-footer-title a:link,
.banner-footer-title a:visited{
	text-decoration: none;
	display: block;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 29px;
}

.floor-1{
	margin-top: 30px;
	/*height: 450px;*/
	box-sizing: border-box;
}
.floor-1-left{
	width: 575px;
	background: white;
	/*height: 450px;*/
	float: left;
	box-sizing: border-box;
}
/*********框头样式*********/
.floor-header{
	font-weight: bold;
	color: #CE0000;
	font-size: 20px;
	border-bottom: 2px solid #DCDCDC;
	height: 33px;
	line-height: 33px;
}
.floor-header>span{
	border-bottom: 2px solid #CE0000;
	display: inline-block;
	box-sizing: border-box;
	height: 35px;
}
.floor-header>span+a:visited,
.floor-header>span+a:link{
	color: #CDCDCD;
	font-size: 12px;
	text-decoration: none;
	float: right;
}
.floor-header>span+a:hover{
	color: #CE0000;
}
/************************/
.floor-body{
	box-sizing: border-box;
	padding-top: 4px;
	padding-left: 20px;
}
.floor-body>ul>li{
	height: 34px;
	background:url(../images/li.jpg) no-repeat left center;
	padding-left:20px;
	line-height: 34px;
}
.floor-body>ul>li>a:link,
.floor-body>ul>li>a:visited{
	width: 382px;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	margin-right:5px ;
}
.floor-body>ul>li>a:hover{
	color: #CE0000;
}
.date{
	float: right;
	font-size: 12px;
	color:#CDCDCD;
}
.department{
	float: left;
	color:#CE0000;
	padding-right: 5px;
}
.floor-1-right{
	float: right;
	box-sizing: border-box;
	width: 490px;
}
.floor-2{
	margin-top: 20px;
}
.floor-2-header{
	box-sizing: border-box;
	/*border-bottom: 2px solid #CDCDCD;*/
	height: 35px; 
}
.floor-2-header>span:first-child{
	box-sizing: border-box;
	height: 35px;
	color: #CE0000;
	font-size: 20px;
	font-weight: bold;
	margin-right: 5px;
	border-bottom: 2px solid #CE0000;
	display: inline-block;	
}
.floor-2-header>a:link,
.floor-2-header>a:visited{
	color: #DCC9C9;
	font-size: 14px;
	text-decoration: none;
}
.floor-2-header>a:hover{
	color: #CE0000;
}
.floor-2-body{
	margin-top: 5px;
	box-sizing: border-box;
	border:1px solid #CDCDCD;
	/*border-radius: 10px;*/
	padding:8px;	
}
a.floor-2-body-btn:link,
a.floor-2-body-btn:visited{
	display: block;
	box-sizing: border-box;
	width: 146px;
	height: 47px;
	line-height: 47px;
	float:left;
	border: 1px solid #CE0000;
	text-align: center;
	color:#CE0000;
	text-decoration: none;
	font-size: 17px;
	margin-right: 17px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left:17px;
	/*border-radius: 5px;*/
	transition: all 0.5s;
}
a.floor-2-body-btn:hover{
	color: #fff;
	background: #CE0000;
}
.floor-3{
	margin-top: 30px;
}

.floor-3-box{
	display: inline-block;
	width: 507px;
	margin-top: 20px;
	box-sizing: border-box;
}

.floor-3>.floor-3-box:nth-child(2n+1){
	margin-right:80px;
}

.floor-4{
	margin-top: 20px;
}
.floor-4-header{
	height: 50px; 
}
.floor-4-body{
	height: 510px;
	background: url(../images/floor-4-body-bg.jpg) no-repeat center center;
	background-size: contain;
	box-sizing: border-box;
	/*padding-left: 48px;*/
	padding-top: 45px;
}
.floor-4-body > ul:first-child{
	width: 500px;
	display: inline-block;
}
.floor-4-body > ul:first-child > li{
	height: 40px;
	line-height: 40px;
	width: 500px;
}
.floor-4-body > ul:first-child>li > a{
	padding-left: 20px;
	width: 500px;
	color: #CE0000;
	font-size: 18px;
	display: block;
	overflow: hidden;
	height: 40px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}
.floor-4-body > ul:first-child > li > a:hover{
	background:#C80000;
	color: #fff;
}
.floor-4-body > ul:last-child{
	display: inline-block;
	width: 500px;
	float: right;
	padding-right: 20px;
	padding-top: 50px;
	box-sizing: border-box;
}
/*js后要隐藏*/
.floor-4-body > ul:last-child > li{
	display: none;
}
.floor-4-body > ul:last-child > li:nth-child(1){
	display: inline-block;
}
.floor-4-body > ul:last-child > li > p{
	height: 212px;
	line-height: 40px;
	overflow: hidden;
	font-size: 18px;
	position: relative;
	color: #fff;
	text-indent: 2em;
}
.floor-4-body > ul:last-child > li > p::after{
	content: "......";
	display: inline-block;
	z-index: 10;
	color: black;
	position: absolute;
	right: 467px;
	bottom: -10px;
	color: #fff;
}
.floor-4-body > ul:last-child > li > a{
	float: right;
	text-decoration: none;
	color: #fff;
}
.floor-4-body > ul:last-child > li > a:hover{
	color: #CE0000;
	background: #fff;
}
.floor-5{
	margin-top: 30px;
	height: 320px;
	background:white;
	position: relative;
}
.floor-5-body{
	margin-top: 10px;
	padding: 10px;
	height: 220px;
	/*width: 1020px;*/
	overflow: hidden;
	/*position: absolute;*/
	/*left: 0px;*/
	white-space: nowrap;

}
.floor-5-body-box{
	/*background: red;*/
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid red;
	width: 200px;
	height: 200px;
}

.floor-5-body-box > a{
	display: block;
	height: 198px;
	background: url(../images/banner1.jpg);
	background-size: 100% 100%;
	transition: all 0.2s;
}
.floor-5-body-box > a:hover{
	transform: scale(1.5);
}

.floor-6{
	height: 123px;
}

.floor-6-body{
	box-sizing: border-box;
	margin: 0 auto;
	padding-left:50px;
}

.floor-6-box{
	box-sizing: border-box;
	display: inline-block;
	height: 50px;
	width: 200px;
	border: 1px solid #CDCDCD;
	line-height: 50px;
}
.floor-6-box > a:link,
.floor-6-box > a:visited{
	display: block;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
 	color:#FF4B58;
 	transition: all 0.5s;
}
.floor-6-box > a:hover{
	color:#fff;
	background-color: #FF4B58;
}



.footer{
	background-color:#CE002B;
	padding-top: 20px;
}

.footer-top{
	width: 1020px;
	margin: 0 auto;
}

.footer-top-header{
	color: #fff;
	font-size: 18px;
}

.footer-top-body{
	/*margin: 0 auto;*/
	/*width: 900px;*/
}

.footer-top-body > ul {
	float: left;
	padding-bottom: 20px;
}

.footer-top-body > ul > li > a{
	display: inline-block;
	height: 28px;
	width: 255px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
}

.footer-bottom{
	height: 40px;
	opacity: 0.5px;
	background-color: rgba(0,0,0,0.3);
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}

.modal{
	display: none;
	background: rgba(0,0,0,0.5);
	width: 100%;
	/*height: 100%;*/
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
}
.modal > .modal-content{
	padding:10px 20px;
	border-radius: 15px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	left: 50%;
	top:30%;
	margin-top: -175px;
	margin-left: -350px;
	animation: zoom 0.6s;
	-webkit-animation: zoom 0.6s;
}


@-webkit-keyframes zoom{
	from{transform: scale(0);}
	to{transform:scale(1)}
}

@keyframes zoom{
	from{transform: scale(0);}
	to{transform:scale(1);}
}

.modal-content-header{
	border-bottom: 2px solid #CDCDCD; 
	margin-bottom: 10px;
	box-sizing: border-box;
}

.modal-content-header{
	border-bottom: 2px solid red;
	height: 31px;
	box-sizing: border-box;
}

.form-row{
	height: 46px;
	line-height: 46px;
}

.form-row > label {
	width: 100px;
	text-align: right;
	display: inline-block;
	padding-right: 48px;
}

.form-row > input{
	width: 300px;
	height: 26px;
	padding-left: 5px;
}

.form-row > .button-group{	
	width: 200px;
	margin: 0 auto;
}

.button-group > button{
	border: 1px solid #CE0000;
	background: #fff;
	height: 39px;
	width: 96px;
	transition: all 0.3s;
}

.button-group > button:hover{
	background: #CE0000;
	color: #fff;
}

.modal > .modal-content > table{
	font-size: 20px;	
	width: 660px;
	text-align: center;
	/*table-layout: fixed;*/
	box-sizing: border-box;
	border:0;
	border-collapse: collapse;
	empty-cells:show; 
}

.modal > .modal-content > table tr{
	height: 42px;
}

.modal > .modal-content > table > thead{
	border-bottom: 2px solid #CE0000;
}

.modal > .modal-content > table > tbody > tr > td{
	border-bottom: 1px solid #CDCDCD;
} 

.modal > .modal-content > table > tbody > tr:hover{
	color: #CE0000;
	background: #F6F4F4;
}














.bg-19{
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	width: 270px;
	height: 123px;
	margin-top:10px; 
	margin-right: 10px;
	/*background:url(../images/floor-1-right2.jpg) no-repeat center center;*/
	background-size: 100% 100%;
	display: inline-block;
}

.valid{
	border:1px solid #008000;
}

.invalid{
	border:1px solid #ff0000;
}












/*辅助类*/

.right-btn{
	box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.1);
}

.top-btn{
	display: none;
	height: 30px;
	width: 30px;
	/*background: url(../images/return-top.jpg) no-repeat center center;*/
	position: fixed;
	bottom: 290px;
	right: 10px;
	/*border: 1px solid #CDCDCD;*/
	/*border-radius: 50%;*/
	transform: scale(1);
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #CD0000;
	cursor: pointer;
	/*transition: all 0.2s;*/
	box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.1);
	box-sizing: border-box;
}

.bottom-btn{
	display: none;
	height: 30px;
	width: 30px;
	position: fixed;
	bottom: 260px;
	right: 10px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #CD0000;
	cursor: pointer;
	box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.2);
	box-sizing: border-box;
}

.top-btn:hover,
.bottom-btn:hover{
	color:#fff;
	background: #CE0000;
}

/*左侧常用链接的内容*/
.nav-left{
	position: fixed;
	top:50%;
	left:0;
	margin-top: -25px;
	width:30px;
	box-shadow:0 0 1px 0 rgba(0,0,0,0.3);
	cursor: pointer;
}
.nav-left span{
	color:#CE0000;
	display: inline-block;
	padding: 0 5px;
	transition: all 0.5s;
}
.nav-left span:hover{
	color:#fff;
	background-color: #CE002B;
}

a.link-box{
	width:146px;
	display: inline-block;
	box-sizing:border-box;
	border: 1px solid #F4F4F4;
	color: #CE002B;
	text-decoration: none;
	padding:5px 5px;
	text-align: center;
	margin-top: 15px;
	font-size:18px;
	transition:all 0.5s;
}
a.link-box:hover{
	color:#fff;
	background-color: #CE002B;
}




