<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dao.MenuDao">

    <resultMap id="submenuMap" type="Entity.SubMenu">
        <result column="submenu_id" property="submenuId"/>
        <result column="submenu_name" property="submenuName"/>
        <result column="menu_id" property="menuId"/>
    </resultMap>

    <resultMap id="menuMap" type="Entity.Menu">
        <result column="menu_id" property="menuId"></result>
        <result column="menu_name" property="menuName"></result>
        <association property="subMenuNames" column="menu_id" select="Dao.MenuDao.getSubMenuByMenuId"></association>
    </resultMap>


    <select id="getMenuById">
        SELECT * FROM `menu` WHERE id = #{id}
    </select>

    <select id="getSubMenuByMenuId" resultMap="submenuMap">
        select * from submenu WHERE menu_id = #{menu_id}
    </select>

    <select id="getAllMenus" resultMap="menuMap">
        select * from menu
    </select>

    <insert id="updateMenu">
        INSERT INTO `menu` (menu_id,menu_name) values
        <foreach collection="list" separator="," item="menu">
            (#{menu.menuId},#{menu.menuName})
        </foreach>
    </insert>

    <insert id="updateSubMenu">
        INSERT into `submenu` (submenu_id,submenu_name,menu_id) VALUES
        <foreach collection="list"  separator=","  item="submenu">
            (#{submenu.submenuId},#{submenu.submenuName},#{submenu.menuId})
        </foreach>
    </insert>

    <select id="getSubmenuById" resultMap="submenuMap">
        SELECT * FROM submenu where submenu_id = #{id}
    </select>




</mapper>