<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dao.UserDao">

    <resultMap id="userMap" type="Entity.User">
        <id column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="real_name" property="realName"/>
        <result column="phone" property="phone"/>
        <association column="role_id" property="role" select="Dao.RoleDao.getRoleById"/>
        <association column="department_id" property="department" select="Dao.DepartmentDao.getDepartmentById"/>
    </resultMap>



    <select id="getUserByUsername" resultMap="userMap">
        select <include refid="column"/> from `user` WHERE username=#{username}
    </select>

    <insert id="addOneUser" parameterType="Entity.User">
        INSERT INTO `user`(username,password,department_id,real_name,create_time,phone)
        VALUES (#{username},#{password},#{department.departmentId},#{realName},#{createTime},#{phone})
    </insert>

    <update id="updateUser" parameterType="Entity.User">
        UPDATE `user`
        <set>
            <if test="department != null">
                  department_id = #{department.departmentId},
            </if>
            <if test="realName != null">
                real_name = #{realName},
            </if>
            <if test="role != null">
                role_id = #{role.roleId},
            </if>
            <if test="password != null">
                password = #{password}
            </if>
            <if test="phone != null">
                phone = #{phone}
            </if>
        </set>
        WHERE username=#{username}
    </update>

    <update id="updateUserPassword">
        update `user` set password = #{password} WHERE username = #{username}
    </update>

    <select id="selectUserNotAdmin" resultMap="userMap">
        select <include refid="column"/> from `user` WHERE role_id <![CDATA[<>]]> 0 ORDER BY field(`role_id`,3,1,2,4)
    </select>

    <insert id="adminAddUser" parameterType="Entity.User">
        INSERT INTO `user`(username,password,real_name,phone,role_id,department_id,create_time)
        VALUES (#{username},#{password},#{realName},#{phone},#{role.roleId},#{department.departmentId},#{createTime})
    </insert>

    <sql id="column">
        username,password,role_id,department_id,create_time,real_name,phone
    </sql>
</mapper>